html {
  --primary-color: #FE016C;
  --background-color: #fff;
  --main-color: #232323;
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

html[data-theme='dark'] {
  --primary-color: #FFBD07;
  --background-color: #232323;
  --main-color: #fbfbff;
}
